.---------------------------------------------.
      Unauthorized access is prohibited
 Only authorized users can access this system
        Please disconnect immediately
      All your actions will be recorded
'---------------------------------------------'
