# Auditd configuration file
# {{ ansible_managed }}

log_file = {{ auditd_config.log_file }}
log_format = RAW
log_group = root
priority_boost = 4
flush = {{ auditd_config.flush }}
freq = {{ auditd_config.freq }}
num_logs = {{ auditd_config.num_logs }}
name_format = none
max_log_file = {{ auditd_config.max_log_file }}
max_log_file_action = rotate
space_left = 75
space_left_action = syslog
action_mail_acct = root
admin_space_left = 50
admin_space_left_action = suspend
disk_full_action = suspend
disk_error_action = suspend
## tcp_listen_port = 60
tcp_listen_queue = 5
tcp_max_per_addr = 1
tcp_client_ports = 1024-65535
use_libwrap = yes
tcp_client_max_idle = 0
transport = TCP
krb5_principal = auditd
