# Auditd configuration file
# {{ ansible_managed }}

log_file = {{ auditd_log_file }}
log_format = RAW
log_group = root
priority_boost = 4
flush = {{ auditd_flush }}
freq = {{ auditd_freq }}
num_logs = {{ auditd_num_logs }}
name_format = none
max_log_file = {{ auditd_max_log_file }}
max_log_file_action = {{ auditd_max_log_file_action }}
space_left = 75
space_left_action = {{ auditd_space_left_action }}
action_mail_acct = root
admin_space_left = 50
admin_space_left_action = {{ auditd_admin_space_left_action }}
disk_full_action = {{ auditd_disk_full_action }}
disk_error_action = {{ auditd_disk_error_action }}
## tcp_listen_port = 60
tcp_listen_queue = 5
tcp_max_per_addr = 1
tcp_client_ports = 1024-65535
use_libwrap = yes
tcp_client_max_idle = 0
transport = TCP
krb5_principal = auditd
