status:
  port: "16241"
  host: null
agent_log:
  priority: NOTICE

storages:
  - name: main
    plugin: fs
    config:
      directory: /var/lib/yandex/unified_agent/main
      max_partition_size: 100mb
      max_segment_size: 10mb

channels:
  - name: cloud_monitoring
    channel:
      pipe:
        - storage_ref:
            name: main
      output:
        plugin: yc_metrics
        config:
          url: https://monitoring.api.cloud.yandex.net/monitoring/v2/data/write
          folder_id: {{ yua.folder_id }}
          iam:
            jwt:
              file: "/etc/yandex/unified_agent/jwt_params.json"

routes:
  - input:
      plugin: linux_metrics
      config:
        poll_period: {{ yua_poll_period }}
        namespace: sys
        proc_directory: /ua_proc
        sys_directory: /ua_sys
        resources:
          cpu: {{ yua_linux_metrics_detalization.cpu }}
          memory: {{ yua_linux_metrics_detalization.memory }}
          network: {{ yua_linux_metrics_detalization.network }}
          storage: {{ yua_linux_metrics_detalization.storage }}
          io: {{ yua_linux_metrics_detalization.io }}
          kernel: {{ yua_linux_metrics_detalization.kernel }}
    channel:
      pipe:
        - filter:
            plugin: transform_metric_labels
            config:
              labels:
{% for label in yua_labels %}
                - {{ label|to_yaml -}}
{% endfor %}
      channel_ref:
        name: cloud_monitoring

  - input:
      plugin: agent_metrics
      config:
        poll_period: {{ yua_poll_period }}
        namespace: ua
    channel:
      pipe:
        - filter:
            plugin: filter_metrics
            config:
              match: "{scope=health}"
      channel_ref:
        name: cloud_monitoring

import:
  - /etc/yandex/unified_agent/conf.d/*.yml