services:
  unified_agent:
    image: cr.yandex/yc/unified-agent:latest
    restart: always
    entrypoint: unified_agent
    container_name: unified-agent
    volumes:
      - /proc:/ua_proc:ro
      - /sys:/ua_sys:ro
      - {{ yua.config_path }}:/etc/yandex/unified_agent/config.yml
      - {{ yua.jwt_params_path }}:/etc/yandex/unified_agent/jwt_params.json
    environment:
      FOLDER_ID: {{ yua.folder_id }}
    uts: host
